name: Build Userscript

on:
  release:
    types: [published]

jobs:
  release-build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Bun
      uses: oven-sh/setup-bun@v1

    - name: Install dependencies
      run: bun install

    - name: Build userscript
      run: bun run build

    - name: Generate Release Changelog
      id: changelog
      run: |
        date=$(date +'%Y/%m/%d')
        body="Release ReBypass artifact, generated on ${date}"
        echo "body=${body}" >> $GITHUB_OUTPUT

    - name: Create Release
      uses: softprops/action-gh-release@v2.5.0
      with:
        files: ReBypass.user.js
        body: ${{ steps.changelog.outputs.body }}
        generate_release_notes: true
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
